# Бинарники
/thesis-app
*.exe

# Окружение с секретами
.env.example

# Загруженные файлы пользователей
/uploads/

# Логи
*.log
app.log

# Системный мусор
.DS_Store
Thumbs.db

# IDEа
.idea/
.vscode/

# Кэш Go
*.test
*.out
